<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title <%=n%>" id="staticBackdropLabel"name="<%=n%>"></h5><!--name-->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img id="img" src="" alt="no pImage%" style="width:150px;height: 100px ;" /><!--src-->
          <br>
          <label for="">Price</label>
          <h2 id="price"></h2><!--pice-->
          <label for="">Description</label>
          <h3></h3><!--description-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>