<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/ccq.css">
        
</head>
<body>

    <div style="background-color: mediumaquamarine;display:flex; justify-content:space-around; width:100%;">
        <h2 style="color: mintcream;"><%= user%></h2>
    
          </div>

    <div class="change-password-container  menu-option-container" id="changePassContainer">
        <div class="segment-header">
            <p class="change-pass-head">Change your account login details</p>
        </div>
        <div class="segment-body">
            <p class="change-pass-head-2">The password has to be</p>
            <ul class="password-condition-container">
                <li id="8char" class="not-match">Minimum 8 characters long</li>
                <li id="ucase" class="not-match">One Uppercase letter at least</li>
                <li id="lcase" class="not-match">One lowercase letter at least</li>
                <li id="num" class="not-match">One Number</li>
            </ul>
            <div class="change-pass-input-container">
                
                <div class="form-group row">
                    <div class="col-sm-8" style="position: relative;">
                        <input  type="password" class="form-control password-fields" id="password1"  placeholder="New password"> 
                    </div> 
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <input  type="password" class="form-control password-fields" id="password2"  placeholder="Confirm password">
                    </div>
                    <div class="col-sm-4">
                        <span style="margin-left:10px;width: 100%;color: #CE0404;font-size: 15px;" id="pwmatch">Passwords don’t match</span>
                    </div>
                </div>
                <button  class="changePassBtn" id="submitButton">update</button>
                <p id="allowed" style="color: darkred ;font-size: large;display: none;">Password isn't Allowed</p>

            </div>
        </div>
    </div>

<script src="changePassword.js"></script>

</body>
</html>
