<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/fcq.css">
    
</head>
<body>
    
    <div class="container-fluid login_popup_div">
        <div class="col-md-6 col-md-push-3 create_popup_div">
            <div class="create_login_form">
                <h3 class="login_heading">Forgot Password</h3>
                <div class="col-sm-10 col-sm-push-1 generate_fields">
                    <form method="POST" action="/forgotPassword" class="CodeQ_login_form">
                        <div class="form-group login_fields">
                         <p>Enter your registered email address</p>   
                         <input type="email" name="gmail" id="email" placeholder="Email Address*" autofocus="" class="form-control login_form_fields" >
                        </div>
                        <div class="form-group login_submit_fields text-center">
                            <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn__custom">RESET PASSWORD</button>
                        </div>
                    </form>
                </div><!-- close generate_fields-->
            </div><!-- close create_login_form-->
        </div>
    </div>

</body>
</html>

